body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #ebeff2;
}

main {
    background-color: #ebeff2;
    flex: 1 0 auto;
}

.mb-10 {
    margin-bottom: 10px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.grid>.col {
    display: flex;
    flex-direction: column;
}

.grid .screenshot {
    background-size: cover;
    background-image: url('assets/x/1.png');
    height: 200px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.screenshot>.img {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

/* .grid .screenshot>img {
    max-height: 100%;
} */

.grid .info {
    padding: 1px 15px;
}

.grid .download {
    position: absolute;
    right: 10px;
    top: 10px;
}

.mt-0 {
    margin-bottom: 0 !important;
}

@media only screen and (min-width: 993px) {
    .brand-logo {
        left: 15px;
    }
}

.sidenav-trigger {
    cursor: pointer;
}

.wfl {
    display: none;
}

.material-tooltip {
    background-color: rgba(50, 50, 50, 0.75);
}
